/* pagina clases */
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        "horaios Lunes Martes Miercoles Jueves Viernes Sabado"
        "10a11 boxeo boxeo boxeo boxeo boxeo boxeo"
        "11a12 boxeo boxeo boxeo boxeo boxeo"
        "15a16 boxeo boxeo boxeo boxeo boxeo"
        "16a17 boxeo boxeo boxeo boxeo boxeo"
        "18a19 boxeo boxeo boxeo boxeo boxeo"
        "19a20 boxeo boxeo boxeo boxeo boxeo"
        "20a21 boxeo boxeo boxeo boxeo boxeo"
        "21a22 boxeo boxeo boxeo boxeo boxeo"
    ;
    @include contenedores(600px, 5px 0 5px 0);
}

.grid-container2{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-template-areas:
        "horaios LunesAViernes Sabado"
        "10a11 boxeo boxeo"
        "11a12 boxeo"
        "15a22 boxeo"
    ;
    @include contenedores(300px, 10px 0 10px 0);
}

.grid-style{
    @extend .diasyhorarios;
}
    


@media (max-width: 700px){
    .grid-container{
        display: none;
    }
}

@media (min-width: 699px){
    .grid-container2{
        display: none;
    }
}